<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>社工裤</title>
 	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
 	<link rel="stylesheet" type="text/css" href="css/search.css"/>
 	<script src="js/vue.js" type="text/javascript"></script>

 	<script src="js/vue-resource.js" type="text/javascript" ></script>
 	</head>
<body >

<div  class="container"  id="search" >
	<div  class="search">
		<div class="input-group">
			<input type="text" class="form-control" v-model="inputVal" placeholder="ID、Name、email">
        	<span class="input-group-btn">
            	<button class="btn btn-default" type="button" v-on:click="search">搜索</button>
        	</span>      
   		</div>
	</div>
    <table  class="table table-striped">
  		<caption>查询结果<span>{{count}}</span>条</caption>
  		<thead>
    		<tr>
      			<th>name</th>
      			<th>password</th>
      			<th>email</th>
      			<th>source</th>
    		</tr>
  		</thead>
  		<tbody >
    		<tr v-for="user in users">
      			<td>{{user.name}}</td>
      			<td>{{user.pwd}}</td>
      			<td>{{user.email}}</td>
      			<td>{{user.source}}</td>
    		</tr>

  		</tbody>
	</table>
</div>
<script >


	new Vue({
		el:"#search",
		data:{
			inputVal:'',
			count:0,
			users:[]
		},
		methods:{
			search:function(){
				var that = this;

                var url = "http://localhost:8848/search/find";
                that.$http.get(url,{str:that.inputVal}).then(function(res){
					that.count=res.data.length;
					that.users=res.data;
				}),function(){
					alert('请求失败')
				}
			}
		}
	})
</script>
</body>
</html>
